# Node
node_modules/
pnpm-lock.yaml
yarn.lock
package-lock.json

# Next.js
.next/
out/

# Build outputs
dist/
build/

# Local env files
.env
.env.*

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
*.log

# OS files
.DS_Store
Thumbs.db

# Editor directories and files
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln

# TypeScript
*.tsbuildinfo

# Prisma
prisma/.env

# Optional npm cache directory
.npm

# vscode local settings
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
